.footer {
  width: 100%;
  height: 2.5rem;
  background-color: #ff6600;

  nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    a {
      color: white;
    }

    a:hover{
      text-decoration: underline;
    }
  }
}
