html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Avenir,Helvetica,Arial,sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  background-color: #f6f6ef;
}

* {
  box-sizing: border-box;
}

a {
  color: #268bd2;
  text-decoration: none;
}
