.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 1rem auto 6rem;
  }
  
.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1, h2 {
    color: white;
  }
}
  
.backToHome {
  margin: 3rem 0 0;

  a {
    height: 2rem;
    display: inline-flex;
  }

  a:hover {
    color: #0A72EF;
  }
}

.arrowLink {
  margin-right: .5rem;
}

.image {
  display: block;
  max-width: 100%;
  filter: contrast(85%);
  border-radius: 10px 10px 10px 10px;
}
  
.homeTitle {
  margin-top: 0;
  text-align: center;
}
