.postSection, .commentsSection {
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

  h1, h3 {
    text-align: center;
  }
}

/* .commentsSection {
  
} */
