@import "utilities";

.postSection, 
.commentsSection,
.newCommentSection {
  margin: 1rem auto;
  padding: 1rem;
  width: 75%;
  background-color: white;
  border-radius: 10px;

  @include breakpoint(desktop) {
    width: 100%;
  }

  h1, h3 {
    margin-top: 0;
    text-align: center;

    @include breakpoint(mobile) {
      font-size: 1.2rem;
    }
  }
}

.newCommentSection {
  form {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: .5rem;
      font-size: 1rem;
    }
    
    input {
      margin-left: .5rem;
      width: 12rem;
      height: 2rem;
      font-size: 1rem;
      outline: none;
      border: none;
      border-bottom: 1px solid $YC_Orange;
      transition: width 0.4s ease-in-out;

      @include breakpoint(mobile) {
        width: 8rem;
      }
    }

    input:focus {
      width: 100%;
    }
  }
}

.nameInput,
.commentInput {
  margin: .5rem .5rem;
  display: flex;
  flex-direction: column;
}

.submitButton {
  margin: 1rem auto;
  width: 25%;
  height: 2rem;
  font-size: 1rem;
  color: $YC_Orange;
  background-color: white;
  border-radius: 5px;
  border: 2px solid $YC_Orange;
  cursor: pointer;

  @include breakpoint(mobile) {
    width: 100%;
  }
}

.submitButton:hover {
  color: white;
  background-color: $YC_Orange;
}

.submitButton:focus {
  outline: none;
}

.comment {
  border-top: 1px solid $grey;
  h4 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    margin-left: .5rem;
    padding: .5rem;
  }
}
