.heading2Xl {
  margin: 1rem 0;
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
}
  
.headingXl {
  margin: 1rem 0;
  font-size: 2.4rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
}
  
.headingLg {
  margin: 1rem 0;
  font-size: 1.6rem;
  line-height: 1.4;
}
  
.headingMd {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.5;
}
  